header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

h1{
  font-family: cubano, sans-serif;
  font-weight: 400;
  font-style: normal;
    color: greenyellow;
}

h3{
  font-family: p22-underground, sans-serif;
  font-weight: 400;
  font-style: normal;
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

#fijo {
    top: 10px;
    right: 10px;
    position: fixed;
}

p{
    font-family: p22-underground, sans-serif;
    text-align: left;
    margin-bottom: 5px;
}

h5{
    font-family: p22-underground, sans-serif;
    font-weight: bold;
}

div .row {
  background-color: #FFFFFF;
}

.card img{filter: grayscale(0.9);
    transition: all ease 1s;
}
.card:hover img{
    filter:grayscale(0);
}
